.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  align-items: center;
  column-gap: 18px;
  row-gap: 7px;
  padding: 22px 0 21px 30px;
  margin-right: 5px;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  margin: 0;
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 375px;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) no-repeat center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  padding: 0;
  grid-area: button;
}

.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  grid-area: description;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 375px;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) no-repeat center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-left: auto;
}

.profile__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__avatar-button {
  background: transparent url(../images/edit_avatar.svg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 0;
  grid-area: button;
  height: 120px;
  width: 120px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.profile__avatar-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile__info {
    padding-left: 10px;
  }
  .profile__add-button {
    width: 20%;
    padding: 0;
  }
  .profile__title {
    font-size: 32px;
  }
  .profile__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 633px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    padding-top: 42px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    justify-content: center;
    padding: 30px 0 36px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 1.21;
    text-align: center;
    max-width: 220px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__add-button {
    width: 100%;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}
