@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 775px) {
  .profile__info {
    padding-left: 10px;
  }
  .profile__add-button {
    width: 10%;
    padding: 0;
  }
  .profile__title {
    font-size: 32px;
  }
  .profile__subtitle {
    font-size: 16px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 633px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 30px 0 36px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 1.21;
    text-align: center;
  }
  .profile__add-button {
    width: 100%;
    margin: 0 19px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    padding: 0;
  }
  .header__logo {
    padding-left: 19px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 1.21;
  }
  .footer {
  }
}
