@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

/* ---------------------- pages section ----------------------*/

.page {
  max-width: 1280px;
  height: 1217px;
  background-color: black;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.page__content {
  margin: 0 200px;
}

/* ---------------------- header section ----------------------*/

.header {
  max-width: 880px;
  height: 74px;
  /* margin: 0 200px; */
  padding-top: 45px;
}

/* ---------------------- profile section ----------------------*/

.profile {
  max-width: 880px;
  height: 120px;
  color: #fff;
  display: flex;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* padding: 3.75px 26.25px 3.75px 22.5px; */
}

.profile__info {
  max-width: 415px;
  height: 77px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  align-items: center;
  column-gap: 18px;
  row-gap: 7px;
  padding: 22px 165px 21px 30px;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__info-button {
  width: 24px;
  height: 24px;
  border-radius: 1px;
  border-color: #fff;
  border-style: solid;
  background-color: black;
}

.profile__subtitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.profile__button {
  width: 150px;
  height: 50px;
  border-radius: 2;
  border: 2;
  border-color: #fff;
  border-style: solid;
  background-color: black;
}
