<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website for Jacques Travles" />
    <meta name="author" content="Henok Tilahun" />
    <meta name="keywords" content="HTML, CSS" />
    <title>Around The US</title>
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%= require('./images/around_the_us.svg')%>"
          alt="Around The U.S. Logo"
          class="header__logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <img
            class="profile__image"
            src="<%= require('./images/jacques-cousteau.png')%>"
            alt="Profile Picture"
          />
          <button
            class="profile__avatar-button"
            id="profile-avatar-button"
            aria-label="Edit Avatar"
            type="button"
          ></button>
          <div class="profile__info">
            <h1 class="profile__title">Jacques Cousteau</h1>
            <button
              class="profile__button profile__edit-button"
              id="profile-edit-button"
              aria-label="Edit"
              type="button"
            ></button>

            <p class="profile__subtitle">Explorer</p>
          </div>
          <button
            class="profile__button profile__add-button"
            id="profile-add-button"
            aria-label="Add"
            type="button"
          ></button>
        </section>
        <section class="cards page__section">
          <ul class="cards__list"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">&copy; 2024 Around The U.S.</p>
      </footer>
    </div>
    <!--- Edit profile modal -->
    <div class="modal" id="profile-edit-modal">
      <div class="modal__container">
        <button
          class="modal__button modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <h3 class="modal__description">Edit profile</h3>
        <form class="modal__form" id="profile-form">
          <label class="modal__label">
            <input
              class="modal__input"
              id="profile-title-input"
              type="text"
              name="name"
              placeholder="Name"
              maxlength="40"
              minlength="2"
              required
            />
            <span class="modal__error" id="profile-title-input-error"></span>
          </label>
          <label class="modal__label">
            <input
              class="modal__input"
              id="profile-subtitle-input"
              type="text"
              name="about"
              placeholder="Description"
              maxlength="200"
              minlength="2"
              required
            />
            <span class="modal__error" id="profile-subtitle-input-error"></span>
          </label>
          <button class="modal__button modal__save" type="submit">Save</button>
        </form>
      </div>
    </div>
    <!--- Add card modal -->
    <div class="modal" id="profile-add-modal">
      <div class="modal__container">
        <button
          class="modal__button modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <h3 class="modal__description">New Place</h3>
        <form class="modal__form" id="card-form">
          <label class="modal__label">
            <input
              class="modal__input"
              id="card-title-input"
              type="text"
              name="name"
              placeholder="Title"
              maxlength="30"
              minlength="1"
              required
            />
            <span class="modal__error" id="card-title-input-error"></span>
          </label>
          <label class="modal__label">
            <input
              class="modal__input"
              id="card-link-input"
              type="url"
              name="link"
              placeholder="Image Link"
              required
            />
            <span class="modal__error" id="card-link-input-error"></span>
          </label>
          <button
            class="modal__button modal__save modal__button_disabled"
            type="submit"
            disabled
          >
            Create
          </button>
        </form>
      </div>
    </div>
    <!--- Add card image modal -->
    <div class="modal" id="card-image-modal">
      <div class="modal__container modal__image_size">
        <button
          class="modal__button modal__close modal__close_position"
          id="modal-close-button"
          type="button"
        ></button>
        <img src="" alt="" class="card__image-modal" />
        <p class="modal__description modal__description_image-popup"></p>
      </div>
    </div>
    <!--- Confirm card delete modal -->
    <div class="modal" id="delete-card-modal">
      <div class="modal__container">
        <button
          class="modal__button modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <h3 class="modal__description">Are you sure?</h3>
        <form class="modal__form modal__form_yes" id="delete-card-form">
          <button
            class="modal__button modal__save modal__button_yes"
            type="submit"
          >
            Yes
          </button>
        </form>
      </div>
    </div>
    <!--- Edit avatar modal -->
    <div class="modal" id="avatar-edit-modal">
      <div class="modal__container">
        <button
          class="modal__button modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <h3 class="modal__description">Change profile picture</h3>
        <form class="modal__form" id="avatar-form">
          <label class="modal__label">
            <input
              class="modal__input"
              id="profile-title-input"
              type="url"
              name="name"
              placeholder="https://somewebsite.com/someimage.jpg"
              required
            />
            <span class="modal__error" id="profile-title-input-error"></span>
          </label>
          <button class="modal__button modal__save" type="submit">Save</button>
        </form>
      </div>
    </div>
    <!-- Card template-->
    <template id="card-template">
      <li class="card">
        <img src="" alt="" class="card__image" />
        <button
          class="card__delete-button"
          type="submit"
          aria-label="Delete"
        ></button>
        <div class="card__content">
          <h2 class="card__subheading"></h2>
          <button
            class="card__like-button"
            type="submit"
            aria-label="Like"
          ></button>
        </div>
      </li>
    </template>
  </body>
</html>
